html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #6f8e9c;
  background: url("training-bg-image.jpg") no-repeat;;
  background-size: cover;
  font-family:  "Poppins", sans-serif;

}

section #services {
  text-align: center;
  transform: translatez(0);
  position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
section #services h2 {
  /* margin: 80px 0px 40px; */
  color: #2c2a2a;

  /* text-transform: uppercase; */
  text-align: center;
}
section #services li {
  width: 500px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 500px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li a {
  color: #77cc6d;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
.credits a {
  display: block;
  text-align: center;
  color: #74d4b3;
  text-decoration: none;
  font-size: 24px;
  margin-top: 50px;
  background: white;
  padding: 20px;
  max-width: 300px;
}


.btns {
  margin-top: 20px;
}
 .btns button {
  height: 55px;
  width: 500px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid rgb(39, 37, 37);
  font-size: 25px;
  font-weight: 600;
  font-family:  "Poppins", sans-serif;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
 .btns button{
  color: #1b1919;
  background: none;
}
.btns button:hover {
  background: white;
  color: black;
}
img{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    max-width: 100%;
    height: auto;

}

@media screen and (min-width: 601px)   {
  h2 {
    font-size: 55px;
    text-wrap: balance;
  }
}
 @media screen and (min-width: 501px) and (max-width:600px) {
  h2 {
    font-size: 20px;
    text-wrap: balance;
  }}  
   @media screen and (min-width: 401px) and (max-width:500px) {
    h2 {
      font-size: 15px;
      text-wrap: balance;
    }} 
   @media screen and (max-width: 400px) {
    h2 {
      font-size:8px;
      text-wrap: balance;
    }
}

a.button2{
  display:inline-block;
  padding:0.5em 1em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  font-size: 2em;
  }
  a.button2:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
  }
  a.button2:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }
  @media all and (max-width:30em){
  a.button2{
  display:block;
  margin:0.4em auto;
  }
  }
